@mixin article-background-pink {
    article {
        background-color: pink;
    }
}

body {
    background-color: green;
    nav {
        div {
            @include article-background-pink();
            background-color: red;
            width: 100px;
            height: 100px;
        }
        p {
            color: blue;
        }
    }
}